<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    {% load staticfiles %}
    <script src="{% static "visualizer/jquery.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "visualizer/css/bootstrap.min.css" %}">
    <script src="{% static "visualizer/js/bootstrap.js" %}"></script>
    <script src="{% static "visualizer/dateRangePicker.js" %}"></script>
    <script src="{% static "visualizer/clipboard.min.js" %}"></script>
<style>
    body{
       // background-image: url({% static "visualizer/images/mountains.jpg" %});
    }
    .dialog{
        margin-top:20%;
    }
    {% block addCss %}

    {% endblock %}
</style>
</head>
<body>

{% block body %}
<div class="container">
    <div class="col-lg-offset-4 col-md-offset-6 dialog">

        <form class="input-group col-lg-4" method="post" action=".">

                  {{ form }}
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Sign up!</button>
                  </span>
        </form>

        <script>
            //$document.ready(function(){
                $('input').addClass('form-control');
                $('input').attr('placeholder', 'Your name');

            //});
        </script>


    </div>
</div>
{% endblock %}

</body>
</html>